<html>
<head>
    <meta http-equiv="Content-Type" Content="text/html; charset=utf-8" />
    <title>Upvote</title>
</head>
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
<body>
    <div class="container">
      
      <h1>Let`s hear come stories!</h1>
      <div>
          <h3>Alex`s stories</h3>
          <ul class="list-group">
              <li v-for="story in storiesBy('Alex')" class="list-group-item">
                    {{ story.writer}} said "{{ story.plot}}"
              </li>
          </ul>
          <h3>John`s stories</h3>
           <ul class="list-group">
              <li v-for="story in storiesBy('John')" class="list-group-item">
                    {{ story.writer}} said "{{ story.plot}}"
              </li>
          </ul>

          <h3>famous stories ({{ famous.length }})</h3>
          <ul class="list-group">
              <li v-for="story in famous" class="list-group-item">
                    {{ story.writer }} said ”{{ story.plot }}” and upvoted {{ story.upvotes }} times
              </li>
          </ul>

          <div class="form-group">
              <label for="query">
                What are you looking for?
              </label>
              <input v-model="query" class="form-control">
          </div>
          <h3>Search Results: </h3>
          <ul class="list-group">
              <li v-for="story in search" class="list-group-item">
                  {{ story.writer }} said " {{ story.plot }} "
              </li>
          <pre>
              {{$data}}
          </pre>
    </div>

      
</body>
<script src="/node_modules/vue/dist/vue.js"></script>
<script>
   
    new Vue({
        el : '.container',
        data : {
            stories: [
                {
                    plot: "aaaaaaaaaaaaaaa",
                    writer: "Alex",
                    upvotes: 28
                },
                {
                    plot: "cccccccccccccc",
                    writer: "John",
                    upvotes: 8
                },
                {
                    plot: "dddddddddddddddd",
                    writer: "John",
                    upvotes: 51
                },
                {
                    plot: "bbbbbbbbbbb",
                    writer: "Alex",
                    upvotes: 74
                }
            ],
            query : ' '
        },
        computed: {
            famous : function(){
                return this.stories.filter (function(item){
                    return item.upvotes > 25;
                })
            },
            search : function(){
                var query = this.query;
                console.log(query);
                return this.stories.filter(function(story){
                    return story.plot.includes(query);
                })
            }
        },
        methods: {
            storiesBy : function (writer){
                return this.stories.filter(function(story){
                    return story.writer === writer
                })
            }
        }
    })
    
</script>

</html>